*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  background-color: #42C3D4;
}

nav {
  width: 25%;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-btn-img {
  width: 100px;
}

.big-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  color: #42C3D4;
  padding: 20px 0;
  width: 80%;
  margin-top: 30px;
}

.header-menu {
  margin-top: 100px;
}

main {
  width: 75%;
  background-color: #42C3D4;
  display: flex;
  flex-direction: column;
}

main h3 {
  margin-bottom: 15px;
  color: #42C3D4;
  font-size: 25px;
}

header {
  height: 20vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.hamburger-nav {
  height: 60px;
  width: 60px;
}
.hamburger-nav img {
  height: 60px;
  width: 60px;
}

h1 {
  display: flex;
  flex-direction: column;
  color: #FFF;
  font-size: 50px;
  text-align: center;
}

h1 span {
  
}

.user-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  color: #FFF;
  font-size: 20px;
}

.user-logo {
  height: 60px;
  width: 60px;
  margin-bottom: 5px;
}

.goals-calendar-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #42C3D4;
}

.goals-calendar {
  padding: 15px;
  width: 49.5%;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goals-calendar img {
  height: 400px;
  width: 85%;
}

.movement-log {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  background-color: #FFF;
}

.movement-log img {
  height: 500px;
  width: 70%;
}
