*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  background-color: #42C3D4;
}

.nav-btn-img {
  width: 100px;
}

.big-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  color: #42C3D4;
  padding: 20px 0;
  width: 80%;
  margin-top: 30px;
}

.header-menu {
  margin-top: 100px;
}

main {
  width: 75%;
  background-color: #42C3D4;
  display: flex;
  flex-direction: column;
}

main h3 {
  margin-bottom: 15px;
  color: #42C3D4;
  font-size: 25px;
}

header {
  height: 20vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.hamburger-nav {
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.ham-show {
  width: 25%;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ham-hide {
  display: none;
}

.hamburger-nav img {
  height: 60px;
  width: 60px;
}

h1 {
  display: flex;
  flex-direction: column;
  color: #FFF;
  font-size: 50px;
  text-align: center;
}

h1 span {

}

.user-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  color: #FFF;
  font-size: 20px;
}

.user-logo {
  height: 60px;
  width: 60px;
  margin-bottom: 5px;
}

.goals-calendar-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #42C3D4;
}

.goals-calendar {
  padding: 15px;
  width: 49.5%;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goals-calendar img {
  height: 400px;
  width: 85%;
}

.movement-log {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  background-color: #FFF;
}

.movement-log img {
  height: 500px;
  width: 70%;
}

@media screen and (max-width: 420px) {
  body {
    flex-direction: column-reverse;
    width: 100%;
  }

  header {
    padding: 10px;
    border-bottom: 2px solid #FFF;
    width: 100%;
  }

  .hamburger-nav {
    height: 30px;
    width: 30px;
  }
  .hamburger-nav img {
    height: 30px;
    width: 30px;
  }

  h1 {
    font-size: 30px;

  }

  nav {
    width: 100%;
    padding: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: none;
  }

  nav h2 {
    display: none;
  }

  .nav-btn-img {
    width: 90px;
  }

  .big-button {
    padding: 15px 0;
    width: 40%;
    margin-top: 30px;
  }

  .goals-calendar-wrapper {
    display: none;
  }

  .movement-log {
    display: none;
  }


}
